<div id="grid">



			<section class="main">

				<div id="ri-grid" class="ri-grid ri-grid-size-3 ri-shadow">
					<img class="ri-loading-image" src="assets/loading.gif"/>
					<ul>
						<li><a href="#"><%= image_tag("medium/1.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/2.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/3.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/4.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/5.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/6.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/7.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/8.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/9.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/10.jpg") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("medium/gate1.png") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("medium/gate2.png") %></a></li>
						<li><a href="#"><%= image_tag("medium/13.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/14.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/15.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/16.jpg") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("medium/gate3.png") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("medium/gate4.png") %></a></li>
						<li><a href="#"><%= image_tag("medium/19.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/20.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/21.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/22.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/23.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/24.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/25.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/26.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/27.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/28.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/29.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/30.jpg") %></a></li>
						<li><a href="#"><%= image_tag("medium/31.jpg") %></a></li>


					</ul>
				</div>

			</section>

		<script type="text/javascript">	
			$(function() {
			
				$( '#ri-grid' ).gridrotator( {
					rows : 5,
					columns : 6,
					maxStep : 2,
					interval : 1000,
					nochange :[10,11,16,17],
					preventClick    : false,
					w1024 : {
						rows : 5,
						columns : 6
					},
					w768 : {
						rows : 5,
						columns : 6
					},
					w480 : {
						rows : 5,
						columns : 6
					},
					w320 : {
						rows : 5,
						columns : 6
					},
					w240 : {
						rows : 5,
						columns : 6
					},

				} );
			
			});
		</script>

		</div>