<div id="grid">
			<section class="main">
				<div id="ri-grid" class="ri-grid ri-grid-size-3 ri-shadow">
					<img class="ri-loading-image" src="assets/loading.gif"/>
					<ul>
						<li><a href="#"><%= image_tag("splash/1.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/2.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/3.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/4.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/5.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/6.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/7.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/8.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/9.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/10.jpg") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("splash/gate1.jpg") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("splash/gate2.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/13.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/14.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/15.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/16.jpg") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("splash/gate3.jpg") %></a></li>
						<li class="ri-nochange"><a href="/grids/show_users?type=girl"><%= image_tag("splash/gate4.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/19.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/20.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/21.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/22.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/23.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/24.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/25.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/26.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/27.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/28.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/29.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/30.jpg") %></a></li>
						<li><a href="#"><%= image_tag("splash/31.jpg") %></a></li>


					</ul>
				</div>

			</section>

		<script type="text/javascript">	
			$(function() {
			
				$( '#ri-grid' ).gridrotator( {
					rows : 4,
					columns : 6,
					maxStep : 2,
					interval : 1000,
					nochange :[10,11,16,17],
					preventClick    : false,
					w1024 : {
						rows : 4,
						columns : 6
					},
					w768 : {
						rows : 4,
						columns : 6
					},
					w480 : {
						rows : 4,
						columns : 6
					},
					w320 : {
						rows : 4,
						columns : 6
					},
					w240 : {
						rows : 4,
						columns : 6
					},

				} );
			
			});
		</script>

</div>
