<nav class="entry"></nav>
<%= text_field_tag "current_page", @page, class: "hidden" %>
<% @photos.each do |photo| %>
<div class='<%="item #{photo.check_corner_stamp} #{photo.account.social_type}"%>' owner="<%= photo.account.user.nickname %>">
  <%= link_to(
    image_tag(photo.thumbnail),
    show_photo_grids_path(owner: photo.account.user.nickname, identifier: photo.identifier),class: "photo fancybox.iframe", rel: "gallery", id: photo.identifier
  ) %>
  <div class="infos show" > <h4>
      <% caption_size = photo.highlighted? ? 57 : 27 %>
      <% photo_description = photo.description.gsub(/#cnlifespace/i, "") %>
      <% photo_description = photo_description[0..caption_size] + "..." if photo_description.length > caption_size %>
  		<%= link_to photo_description, show_photo_grids_path(owner: photo.account.user.nickname, identifier: photo.identifier), class: "photo fancybox.iframe" %>
		</h4> <span><%= photo.account.user.nickname %></span>
  </div>
</div>
</div>
<% end %>

