<nav class="entry"></nav>
<%= text_field_tag "current_page", @page, class: "hidden" %>
<% @photos.each do |photo| %>
<div class='<%="item #{photo.check_corner_stamp} #{photo.account.social_type}"%>' owner="<%= photo.account.user.nickname %>">
  <%= link_to(
    image_tag(photo.thumbnail),
    show_photo_grids_path(owner: photo.account.user.nickname, identifier: photo.identifier),class: "photo fancybox.iframe", rel: "gallery"
  ) %>
  <div class="infos show" > <h4>
  		<%= link_to photo.description, show_photo_grids_path(owner: photo.account.user.nickname, identifier: photo.identifier), target: "_blank" %>
		</h4> <span><%= photo.account.user.nickname %></span> 
  </div>
</div>
</div>
<% end %>

