<div id="show_users">
  <h1><%= @type.to_s.titleize %> Grid</h1>
  <section id="options" class="clearfix">
    <div id="layouts" class="option-set clearfix" data-option-key="layoutMode">
      <h4>Layout: </h4>
      <div id="grid-masonry" class="layouts selected" data-option-value="masonry">masonry</div>
      <div id="grid-fitrows" class="layouts" data-option-value="fitRows">fitRows</div>
    </div>
  </section>

  <div id="filter" class="option-set clearfix" data-option-key="filterMode">
    <div class="filters" data-option-value="*">
      <button id="show-all-user" class="btn btn-small btn-primary" type="button">Show all</button>
    </div>

    <% @user_photos.keys.sort.each do |facebook_uid| %>
      <div class="filters" data-option-value="<%= facebook_uid %>">
        <p>
          <button id="facebook_uid-<%= facebook_uid %>" class="btn btn-small" type="button"><%= facebook_uid %></button>
          <button id="facebook_uid-Anemone" class="btn btn-small" type="button">Eadheat Anemone</button>
          <button id="facebook_uid-Eadheat" class="btn btn-small" type="button">Eadheat</button>
        </p>
      </div>
    <% end %>
  </div>

  <div id="container">
    <% @user_photos.each do |facebook_uid, photos|%>
      <% photos.each do |photo| %>
        <% image = photo.thumbnail %>
        <div class="item <%= photo.photo_type %>" owner="<%= facebook_uid %>">
          <%= link_to(
            image_tag(image),
            show_photo_grids_url(owner: facebook_uid, identifier: photo.identifier), target: "_blank"
          ) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
