<div id="photo">
  <div id="nickname"><h1><%= @owner %></h1></div>

  <div id="social_plugins">
    <div class="fb-like" data-href="https://grid.swiftlet.co.th/grids/show_photo?identifier=<%= @photo_identifier %>&owner=<%= @owner %>" data-send="true" data-width="350" data-show-faces="false" data-font="verdana"></div>
  </div>

  <div id="user_photo"><%= image_tag @user_photo %></div>

  <div id="photo_description"><%= @photo_description %></div>

  <div class="fb-comments" data-href="https://grid.swiftlet.co.th/grids/show_photo?identifier=<%= @photo_identifier %>&owner=<%= @owner %>" data-num-posts="10" data-width="470">
  </div>
</div>
