<section id="gohome_bar" class="row ">
    <h5 class="content span12">
        <%= link_to "« go to Life Space home", root_url  %>
    </h5>
</section>


<div id="photo" class="container">
  <div class="row">
  <div class = "span1"></div>
  <div id="user_photo" class="image_single span10">
    <%= image_tag @user_photo %>

    
  <h3 id="photo_description"><span><%= @user_fullname%></span>
    <br />
    <br />
  <% unless @photo_description.blank? %>
  <span class="caption" id="photo_caption">
    <%= @photo_description.gsub(/#cnlifespace/i, "") %>   
  </span>
  <% end %>
  </h3>
    
  </div>
  <div class = "span1"></div>
  </div>
  <div class="row">
    <div class = "span9"></div>
    <div class = "span3">
      <button id="CaptionHide" class="btn btn-small">Show/Hide Caption</button>
    </div>
  </div>
  <div class="row">
    <div class = "span1"></div>
  <div id="social_plugins"  class="span10">
    <div class="fb-like" data-href="https://<%= Rails.configuration.notifier_default_host %>/grids/show_photo?identifier=<%= @photo_identifier %>&owner=<%= @owner %>" data-send="true" data-show-faces="false" data-font="verdana"></div>


  <div class="fb-comments" data-href="https://<%= Rails.configuration.notifier_default_host %>/grids/show_photo?identifier=<%= @photo_identifier %>&owner=<%= @owner %>" data-num-posts="10" >
  </div>
    </div>
    <div class = "span1"></div>
</div>
</div>