<div id="show_users">
  <h1><%= @type.to_s.titleize %> Grid</h1>
  <section id="options" class="clearfix">
    <div id="layouts" class="option-set clearfix" data-option-key="layoutMode">
      <h4>Layout: </h4>
      <div id="grid-masonry" class="layouts selected" data-option-value="masonry">masonry</div>
      <div id="grid-fitrows" class="layouts" data-option-value="fitRows">fitRows</div>
    </div>
  </section>

  <div id="filter" class="option-set clearfix" data-option-key="filterMode">
    <div class="filters" data-option-value="*">
      <button id="show-all-user" class="btn btn-small btn-primary" type="button">Show all</button>
    </div>

    <% @user_photos.keys.sort.each do |username| %>
      <div class="filters" data-option-value="<%= username %>">
        <button id="username-<%= username %>" class="btn btn-small" type="button"><%= username %></button>
      </div>
    <% end %>
  </div>

  <div id="container">
    <% @user_photos.each do |username, photos|%>
      <% photos.each do |photo| %>
        <div class="item <%= photo.photo_type %>" owner="<%= username %>">
          <%= link_to(
            image_tag(photo.thumbnail),
            show_photo_grids_path(owner: username, identifier: photo.identifier), target: "_blank"
          ) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
