<div ="navbar-static-top navbar">
<section id="title_bar" class="row ">
    <div class="content span4 hidden-phone">
      <%= link_to "« Back to Previous Page",:back  %>
    </div>

    <div class="filtersourceicon span3 hidden-phone">
      <div class="filtersource fb-icon" data-option-value="facebook">
        <a id="show-facebook" class=""></a>
      </div>

      <div class="filtersource inst-icon" data-option-value="instagram">
         <a id="show-instagram" class=""></a>
      </div>
    </div>


  <div id="filter" class="btn-group option-set clearfix span5" data-option-key="filterMode">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Show photos from...
    <span class="caret"></span>
  </a>

  <!-- Link or button to toggle dropdown -->
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li class="filters dropdown" data-option-value="*">
      <a id="show-all-user" tabindex="-1" href="#" data-user-type="<%= @type %>">All</a>
    </li>
    <% @users.each do |nickname| %>
    <li class="filters" data-option-value="<%= nickname %>">
      <a id="username-<%= nickname %>" tabindex="-1" href="#" data-user-id="<%= nickname %>"><%= nickname %></a></li>
     <% end %>
  </ul>
</div>
</section>
</div>
<div id="wrap">


  <div id="show_users" class="container">
    <% unless @title.blank? %>
    <h1><%= @title %></h1>
    <% end %>
    <%= hidden_field_tag "type", @type %>
    <%= hidden_field_tag "user", @user ? @user.id : nil %>
    <%= hidden_field_tag "current_page" %>
    <div id="container" class="infinite-scrolling">
    </div>
  </div>
</div>
