<!DOCTYPE html>
<html>
<head>
  <title>GRID</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    controller_name, media: "all" %>
  <%= stylesheet_link_tag    "custom", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= javascript_include_tag "custom" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-34534780-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

</head>
<body>

  
    <%= render partial: "shared/flashes" %>
    <%= yield %>
  

  <footer>
  </footer>
</body>
</html>
